
@font-face {
    font-family: 'reckless';
    src: url('recklessneue-bold-webfont.woff2') format('woff2'),
         url('recklessneue-bold-webfont.woff') format('woff'),
         url('recklessneue-bold-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;

}




@font-face {
    font-family: 'reckless';
    src: url('recklessneue-book-webfont.woff2') format('woff2'),
         url('recklessneue-book-webfont.woff') format('woff'),
         url('recklessneue-book-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;

}




@font-face {
    font-family: 'reckless';
    src: url('recklessneue-light-webfont.woff2') format('woff2'),
         url('recklessneue-light-webfont.woff') format('woff'),
         url('recklessneue-light-webfont.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;

}




@font-face {
    font-family: 'reckless';
    src: url('recklessneue-medium-webfont.woff2') format('woff2'),
         url('recklessneue-medium-webfont.woff') format('woff'),
         url('recklessneue-medium-webfont.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;

}




@font-face {
    font-family: 'reckless';
    src: url('recklessneue-regular-webfont.woff2') format('woff2'),
         url('recklessneue-regular-webfont.woff') format('woff'),
         url('recklessneue-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gellix';
    src: url('gellix-black-webfont.woff2') format('woff2'),
         url('gellix-black-webfont.woff') format('woff'),
         url('gellix-black-webfont.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;

}




@font-face {
    font-family: 'gellix';
    src: url('gellix-bold-webfont.woff2') format('woff2'),
         url('gellix-bold-webfont.woff') format('woff'),
         url('gellix-bold-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;

}




@font-face {
    font-family: 'gellix';
    src: url('gellix-extrabold-webfont.woff2') format('woff2'),
         url('gellix-extrabold-webfont.woff') format('woff'),
         url('gellix-extrabold-webfont.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;

}




@font-face {
    font-family: 'gellix';
    src: url('gellix-light-webfont.woff2') format('woff2'),
         url('gellix-light-webfont.woff') format('woff'),
         url('gellix-light-webfont.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;

}




@font-face {
    font-family: 'gellix';
    src: url('gellix-medium-webfont.woff2') format('woff2'),
         url('gellix-medium-webfont.woff') format('woff'),
         url('gellix-medium-webfont.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;

}




@font-face {
    font-family: 'gellix';
    src: url('gellix-regular-webfont.woff2') format('woff2'),
         url('gellix-regular-webfont.woff') format('woff'),
         url('gellix-regular-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'gellix';
    src: url('gellix-regular-webfont.woff2') format('woff2'),
         url('gellix-regular-webfont.woff') format('woff'),
         url('gellix-regular-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;

}



@font-face {
    font-family: 'gellix';
    src: url('gellix-semibold-webfont.woff2') format('woff2'),
         url('gellix-semibold-webfont.woff') format('woff'),
         url('gellix-semibold-webfont.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;

}




@font-face {
    font-family: 'gellix';
    src: url('gellix-thin-webfont.woff2') format('woff2'),
         url('gellix-thin-webfont.woff') format('woff'),
         url('gellix-thin-webfont.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;

}